[Unit]
Description=netflow capture daemon for %i
After=network.target auditd.service

[Service]
Type=simple
ExecStart={{ bin }} -P /var/run/nfcapd.%i.pid -S 1 -w -D -p {{ port }} -z -I %i -l {{ nfdump_dumproot }}/profiles-data/{{ profile }}/%i
PIDFile=/var/run/nfcapd.%i.pid
KillMode=process
Restart=no

[Install]
WantedBy=multi-user.target

